body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(#FFC2D2, #A79EE0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(130, 97, 137);
}
.toolBody{
    display: grid;
    grid-template-areas: 
    "top-left top-middle top-right"
    "middle-left middle-middle middle-right"
    "footer footer footer "
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: top-middle;
    text-align: center;
}
.timer-section{
    grid-area: middle-middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    grid-area: footer;
}
.playpause_button, .replay_button{
    height: 25px;
    width: 25px;
}
button{
    border-radius: 20px;
    
    width: 50px;
    background-color: rgb(167, 158, 224);
}
.playpause_button{
    filter: invert(0%) brightness(0%);
}