@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --dawn: #826189;
    --dawn2: #A7A0E0;
    --water: #126AA1;
    --water2: #205B96;
    --earth: #206E2D;
    --earth2: #289620;
    --sunset: #EB2B28;

    --quicksand: 'Quicksand', sans-serif;
    --inter: 'Inter', sans-serif;
    --outfit: 'Outfit', sans-serif;

    --current-primary: var(--dawn);
    --current-secondary: var(--dawn2);
}

button, input, select, option, textarea {
    font-family: inherit;
}

body{
    height: 100vh;
    margin: 0;
    font-family: var(--quicksand);

    background-image: url("/img/Dawn.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--current-primary);
}
button{
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 50px;
    background-color: var(--current-secondary);
}

/* Nav Bar */
header {
    display: flex;
    justify-content: left;
    align-items: center;

    text-align: right;
    height: 50px;
}

header h3 {
    padding: 0 30px;
    color: var(--current-primary);
}

nav ul{
    font-size: 16px;

    list-style: none;
    display: flex;
    flex-direction: row;

    gap:30px;
}

nav a{
    color: var(--current-primary);
    text-decoration: none;
    font-weight: 600;

    padding: 5px 10px;
    border-radius: 12px;
    transition: all 0.2s ease-out;
}

nav a:hover{
    background-color: var(--current-secondary);
    color: white;
}

.toolBody{
    display: grid;
    grid-template-areas: 
    "top-left top-middle top-right"
    "middle-left middle-middle middle-right"
    "footer footer footer "
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: top-middle;
    text-align: center;
}
.timer-section{
    grid-area: middle-middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    padding: 10px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.playpause_button, .replay_button{
    height: 25px;
    width: 25px;
}

.playpause_button{
    filter: invert(0%) brightness(0%);
}

#note{
    width: 750px;
    height: 500px;
    font-size: 16px;
    padding: 10px;  /* Adds space inside the textarea */
    text-align: left; /* Aligns text to the left */
    vertical-align: top; /* Aligns text to the top */
    line-height: 1.5; /* Adjusts spacing between lines */
    resize: none; /* Prevents manual resizing */

    border: 4px solid var(--current-secondary);
    border-radius: 12px;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px var(--current-primary);
    transition: all 0.3s ease;
}

#note:focus {
    border-color: var(--current-primary);
    box-shadow: 0 0 20px var(--current-secondary);
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}